@import "/styles/mixins/colors.scss";

.select{
    padding: 22px 17px;
    background-color: $gray4-color;
    border: none;
    font-size: 19px;
    font-weight: 300;
    color: $gray5-color;
    opacity: 0.7;
    border-radius: 10px;
}