@import "/styles/mixins/padding.scss";
@import "/styles/mixins/responsive.scss";
@import "/styles/mixins/fonts.scss";

.container{
    @include Padding;
    background-image: url("/images/fundoWelcome.svg");
    height: 100vh;
    padding-top: 219px;
    background-repeat: no repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include Phone{
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }
}

.text{
    h1{
        @include SizeExtra;
        font-weight: bold;
    }

    p{
        @include SizeNormal;
        opacity: 0.8;
    }
}

.image{
    text-align: end;

    @include Phone{
        text-align: center;
        grid-column: 1;
        grid-row: 1;
    }
}