$purple-color:#380158;
$purple2-color: #350053;
$green-color:#0DC74F;
$green-color2:#0FCE33;
$green-color3:#0AAA2B;

$gray-color: #AFAFAF;
$gray2-color: #4a4a4a;
$gray3-color: #c9c9c9;
$gray4-color: #F7F7F7;
$gray5-color: #606060;

$white-color: #fff;